/* Background */
body {
    font-family: 'Segoe UI';
    height: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
    background-color: rgb(51, 124, 130);
    color: nigga;
}

/* Header */
header {
    font-size: 1vw;
    margin-top: -1.25vw;
    height: 3vw;
    background-color: rgb(55, 140, 162);
}

h1 {
    text-align: center;
}

/* Menu */
.menu {
    background-color: rgb(66, 161, 168);
    font-size: 0.75vw;
    width: 20vw;
    height: 4vw;
    display: flex;
    text-align: center;
    justify-content: space-around;
    border-radius: 5%;

    /* Aligner à droite */
    float: right;
    margin-right: 2vw;
    margin-top: 1vw;
}

/* Rectangles */
#rectangles {
    display: flex;
    width: 100%;
    height: 100vw;
}

.big-rect, #lil-rect {
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    margin-top: 2.5vw;
    width: 40vw;
    height: 45vw;
}

.big-rect {
    background-color: rgb(66, 161, 168);
    border-radius: 4%;
}

/* Petit Rectangles */
#lil-rect {
    justify-content: space-between;
}

.lil-rect1 {
    width: 40vw;
    height: 20vw;
    background-color: rgb(66, 161, 168);
    border-radius: 5%;
}

.lil-rect2 {
    width: 40vw;
    height: 20vw;
    background-color: rgb(66, 161, 168);
    border-radius: 5%;
}


/* Other */
a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
}